

            
@{ 
    var Culuture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <a asp-controller="Home" asp-action="Index" asp-route-Culture ="en-US"> english</a>


    <a asp-controller="Home" asp-action="Index" asp-route-Culture ="ar-Eg"> arabic  </a>


    <div>
        Hi from @AppLng["test"]  and  @AppLng["test1"]
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
