@inject ProjectBackEndDemo.BL.Helpers.ISelectHelper slct
@{
    ViewData["Title"] = "CreateEmergency";
    Layout = "~/Views/Layouts/MainLayout.cshtml";
    var anilist = new SelectList(slct.GetAnimals(), "Name", "Name");
    var Culuture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;

}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjectBackEndDemo.Areas.Emergency.Models.EmergencyVM

<link href="~/css/createemergency.css" rel="stylesheet" />

@if (Culuture == "ar-EG")
{
    <link href="~/css/createemergency-ar.css" rel="stylesheet" />

}




@*///////////////////////////////////////////////////////*@

<div class="user-form">
    <h3 class="heading">Create Emergency</h3>
    <form asp-area="Emergency" asp-controller="Emergencyy" asp-action="CreateEmergency" method="post">
        <div asp-validation-summary="All" class="text-danger">   </div>
        <div class="form-section select-section pet-section">
            <label asp-for="Animal">Choose Pet</label>
            <div class="input-section">
                <select asp-items="@anilist" asp-for="Animal" id="my-pet" class="emergency-pet">
                    <option disabled selected>Choose Pet</option>

                </select>
                <div class="select-icon">
                    <i class="fa-solid fa-box"></i>
                </div>
            </div>
            <span class="text-danger" asp-validation-for="Animal">  </span>

        </div>
        <div class="form-section text-section name-section">
            <label for="my-emergency">Emergency Name</label>
            <div class="input-section">
                <input type="text" asp-for="Name" id="my-emergency" class="emergency-name" placeholder="Enter Emergency Name" required />
                <div class="input-icon">
                    <i class="fa-solid fa-file"></i>
                </div>
            </div>
            <span class="text-danger" asp-validation-for="Name">  </span>

        </div>
        <div class="form-section area-section desrip-section">
            <label asp-for="Description">Emergency Description</label>
            <div class="input-section">
                <textarea asp-for="Description" id="my-desrip" class="emergency-desrip" placeholder="Enter Emergency Description"></textarea>
                <div class="input-icon">
                    <i class="fa-solid fa-file"></i>
                </div>
            </div>
            <span class="text-danger" asp-validation-for="Description">  </span>

        </div>
        <div class="form-section area-section deal-section">
            <label for="my-deal">Emergency How To Deal</label>
            <div class="input-section">
                <textarea asp-for="HowToDeal" id="my-deal" class="emergency-deal" placeholder="Enter How To Deal With emergency"></textarea>
                <div class="input-icon">
                    <i class="fa-solid fa-file"></i>
                </div>
            </div>
        </div>


        <div class="form-section save-section">
            <button type="submit" class="save-btn">Create</button>
        </div>
    </form>
</div>








<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/js/createemergency.js"></script>