
@{
    ViewData["Title"] = "CreateEmergency";
    Layout = "~/Views/Layouts/MainLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
}
@model ProjectBackEndDemo.Areas.Emergency.Models.EmergencyVM

<h1>CreateEmergency</h1>
<div asp-validation-summary="All" class="text-danger">   </div>
<form asp-area="Emergency" asp-controller="Emergencyy" asp-action="CreateEmergency" method="post">

    <select asp-items="@ViewBag.AnimalList" asp-for="Animal">
        <option value="">choose Pet</option>
    </select>
    <span class="text-danger" asp-validation-for="Animal">  </span>

    <br />
    <label asp-for="Name">Name</label>
    <input type="text" asp-for="Name" placeholder="Name " />
    <span class="text-danger" asp-validation-for="Name">  </span>
    <br />
    <label asp-for="Description">Description</label>
    <textarea asp-for="Description"></textarea>
    <span class="text-danger" asp-validation-for="Description">  </span>
    <br />
    <label asp-for="HowToDeal">HowToDeal</label>
    <textarea asp-for="HowToDeal"></textarea>
    <span class="text-danger" asp-validation-for="HowToDeal">  </span>
    <br />

    <input type="submit" class="btn btn-primary" name="name" value="submit" />





</form>

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
