
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using ProjectBackEndDemo.Resource
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> AppLng






@inject ProjectBackEndDemo.BL.Helpers.ISelectHelper slct
@{
    ViewBag.Title = "Emergencies";
    Layout = "~/Views/Layouts/MainLayout.cshtml";
    var anilist = new SelectList(slct.GetAnimals(), "Name", "Name");
    var Culuture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;

}

<link href="~/css/viewemergencies.css" rel="stylesheet" />

@if (Culuture == "ar-EG")
{
    <link href="~/css/viewemergencies-ar.css" rel="stylesheet" />

}





<section class="emergency">
    <h3 class="heading">All Emergencies</h3>
    <select name="pet" id="selectPet" asp-items="@anilist" hidden>
        <option value="">Select Pet</option>

    </select>
    <div class="container emergency-filter">
        <form asp-action="SearchEmerginces" asp-controller="Emergencyy" asp-area="Emergency" method="get">
            <input type="search" name="search" id="" placeholder="What do you want to know?" required />
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
                Search
            </button>
        </form>
        <div class="emergency-pet">
            <picture class="pet-box dog-box " data-value="dog">
                <img src="/assets/imgs/dog-life.webp" alt="Dog">
            </picture>
            <picture class="pet-box cat-box" data-value="cat">
                <img src="/assets/imgs/cat-life.webp" alt="Cat">
            </picture>
            <picture class="pet-box turtle-box" data-value="turtle">
                <img src="/assets/imgs/turtle-life.webp" alt="Turtle">
            </picture>
        </div>

    </div>

    <div class="container emergency-section " id="view">
        <h1> Please select animal you want to search for </h1>

    </div>
    <span class="emergency-link more">
        <span>View More</span>
        <i class="fa-solid fa-angles-down"></i>
    </span>
</section>









<script src="~/jquery/jquery.min.js"></script>


<script>
    $(function () {

        $("#selectPet").change(function () {

            var x = $("#selectPet").val();

            $.ajax({
                type: "post",
                url: "/Emergency/Emergencyy/FilterData",
                data: { name: x },
                success: function (res) {
                    $("#view").empty();


                    $.each(res, function (i, e) {
                        $("#view").append(

                            " <div class='emergency-box'><div class='emergency-name'><h4>" + e.Name + "</h4></div><div class='emergency-info'><div class='info-box name-box'>" +
                            "<div class= 'info-title' > <h5>Emergency Name</h5></div > <div class='info-value'><span>" + e.Name + "</span> </div></div > " +
                            "<div class='info-box descrip-box'><div class='info-title'><h5>Emergency Description</h5></div>" +
                            "<div class='info-value'><p>" + e.Description + "</p> </div></div><div class='info-box deal-box'> <div class='info-title'><h5>How To Deal With Emergency</h5></div>" +
                            "<div class='info-value'> <p>" + e.HowToDeal + "</p> </div> </div></div> </div>"


                        )
                    })


                }



            })

        })
    })

</script>


<script src="~/js/viewemergencies.js"></script>



