@using Microsoft.AspNetCore.Identity;
@using ProjectBackEndDemo.Areas.Identity.Models
@inject UserManager<AppUser> userManager;
@inject RoleManager<IdentityRole> roleManager ;
@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SignUsersToRoles";
    Layout = "~/Views/Layouts/MainLayout.cshtml";
    var UserList = new SelectList(userManager.Users.ToList(), "UserName", "UserName");
    var RoleList = new SelectList(roleManager.Roles.ToList(), "Name", "Name");

}


<h1>SignUsersToRoles</h1>

@model ProjectBackEndDemo.Areas.Identity.Models.UserRoleVM


<form asp-area="Identity" asp-controller="Admin" asp-action="SignUsersToRoles" method="post">

    <label asp-for="RoleName"> Role </label>
    <select asp-for="RoleName" asp-items="@RoleList">
        <option>Select Role</option>
    </select>
    <br />
    <label asp-for="UserName"> User Name </label>
    <select asp-for="UserName" asp-items="@UserList">
        <option>Select Role </option>
    </select>
    <input type="submit" name="" value="submit" class="btn btn-primary" />

</form>
<span asp-validiation-summary="All"></span>

<div class="text-danger"> @TempData["NoUser"]  </div>