

/* Start Form */

.user-form form div.name-section input.user-name {
    padding-right: 30px;
    padding-left: 40px;
}

@media (max-width: 480px) {
    .user-form form div.name-section input.user-name {
        padding-right: 20px;
        padding-left: 30px;
    }
}

.user-form form div.name-section .name-icon {
    right: unset;
    left: 0;
}

.user-form form div.save-section .save-btn::after,
.user-form form div.login-acc a::after {
    left: unset;
    right: 0;
}

.user-form form div.save-section .save-btn:hover::after,
.user-form form div.login-acc a:hover::after {
    left: unset;
    right: 105%;
}


/* End Form */
