

/* Start Landing */

.landing {
    width: 100%;
    height: 100vh;
    background-color: var(--dark-color);
    background-image: url("../assets/imgs/landing0.webp");
    background-size: cover;
    position: relative;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

    .landing::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(51, 51, 51, 0.7);
    }

    .landing .container {
        position: relative;
        color: #fff;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

        .landing .container h1 {
            margin: 0 0 25px;
            line-height: 1.6;
            transition: var(--main-transition);
            -webkit-transition: var(--main-transition);
            -moz-transition: var(--main-transition);
            -ms-transition: var(--main-transition);
            -o-transition: var(--main-transition);
        }

@media (max-width: 767px) {
    .landing .container h1 {
        font-size: 28px;
    }
}

.landing .container h1 svg {
    color: var(--option-color);
    margin: 0 10px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.landing .container p {
    margin: 0;
    line-height: 2;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
    .landing .container p {
        font-size: 14px;
    }
}

.landing .container a {
    display: inline-block;
    padding: 12px 40px;
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: var(--option-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

    .landing .container a::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(51, 51, 51, 0.2);
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

    .landing .container a:hover::after {
        left: 105%;
    }

@media (max-width: 767px) {
    .landing .container a {
        padding: 15px 30px;
    }
}


/* End Landing */


/* Start Main Section*/

main {
    height: 430px;
    width: 100%;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../assets/imgs/background-1.webp");
    background-size: cover;
    background-color: var(--theme-background);
    color: var(--theme-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}

    main .container {
        text-align: center;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

        main .container img {
            max-width: 25%;
            filter: drop-shadow(0 0 2px var(--option-color));
            -webkit-filter: drop-shadow(0 0 2px var(--option-color));
            transition: var(--main-transition);
            -webkit-transition: var(--main-transition);
            -moz-transition: var(--main-transition);
            -ms-transition: var(--main-transition);
            -o-transition: var(--main-transition);
        }

@media (max-width: 767px) {
    main .container img {
        max-width: 40%;
    }
}

@media (max-width: 480px) {
    main .container img {
        max-width: 50%;
    }
}

main .container h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
    main .container h2 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    main .container h2 {
        font-size: 22px;
    }
}

main .container h2::before {
    content: "";
    width: 40%;
    height: 2px;
    background-color: var(--option-color);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
    main .container h2::before {
        width: 60%;
    }
}

main .container p {
    line-height: 1.8;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
    main .container p {
        font-size: 14px;
    }
}


/* End Main Section*/


/* Start Emergency Section */

.emergency {
    width: 100%;
    padding-top: var(--section-padding);
    padding-bottom: 60px;
    background-color: var(--secondray-background);
    color: #fff;
    overflow: hidden;
}

    .emergency .heading {
        margin: 0 auto 50px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

        .emergency .heading::before {
            content: "";
            height: 2px;
            background-color: var(--option-color);
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            transition: var(--main-transition);
            -webkit-transition: var(--main-transition);
            -moz-transition: var(--main-transition);
            -ms-transition: var(--main-transition);
            -o-transition: var(--main-transition);
        }

@media (min-width: 768px) {
    .emergency .heading::before {
        width: 28%;
    }
}

@media (min-width: 992px) {
    .emergency .heading::before {
        width: 20%;
    }
}

@media (max-width: 767px) {
    .emergency .heading::before {
        width: 35%;
    }
}

@media (max-width: 480px) {
    .emergency .heading::before {
        width: 40%;
    }
}

.emergency .container {
    padding: 20px 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    overflow: hidden;
}

    .emergency .container .emergency-note p {
        margin: 0;
        margin-bottom: 5px;
        line-height: 1.8;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

    .emergency .container .emergency-faq {
        width: 100%;
        margin: 25px 0 35px;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

@media (max-width: 767px) {
    .emergency .container .emergency-faq {
        margin: 35px 0 40px;
    }
}

.emergency .container .emergency-faq .faq-box {
    background: #ccc;
    color: #333;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

    .emergency .container .emergency-faq .faq-box .faq-que {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-bottom: 1px solid #777;
        padding: 15px 30px;
        font-size: 18px;
        cursor: pointer;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

        .emergency .container .emergency-faq .faq-box .faq-que.open {
            background-color: #efefef;
        }

    .emergency .container .emergency-faq .faq-box .faq-ans {
        padding: 15px 30px;
        color: #666;
        line-height: 1.8;
        background-color: #fff;
        display: none;
        border-bottom: 1px solid #777;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

        .emergency .container .emergency-faq .faq-box .faq-ans.show {
            display: inline-block;
        }

.emergency .container .emergency-btns {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@media (max-width: 767px) {
    .emergency .container .emergency-btns {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 20px;
    }
}

.emergency .container .emergency-btns a {
    display: inline-block;
    padding: 12px 40px;
    width: 280px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: var(--option-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

    .emergency .container .emergency-btns a::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(51, 51, 51, 0.2);
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

    .emergency .container .emergency-btns a:hover::after {
        left: 105%;
    }


/* End Emergency Section */


/* Start Health Section */

.health {
    width: 100%;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../assets/imgs/background-2.webp");
    background-size: cover;
    background-color: var(--theme-background);
    color: var(--theme-color);
    overflow: hidden;
}

    .health .heading {
        color: var(--theme-color);
        margin: 0 auto 50px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

        .health .heading::before {
            content: "";
            height: 2px;
            background-color: var(--option-color);
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            transition: var(--main-transition);
            -webkit-transition: var(--main-transition);
            -moz-transition: var(--main-transition);
            -ms-transition: var(--main-transition);
            -o-transition: var(--main-transition);
        }

@media (min-width: 768px) {
    .health .heading::before {
        width: 28%;
    }
}

@media (min-width: 992px) {
    .health .heading::before {
        width: 20%;
    }
}

@media (max-width: 767px) {
    .health .heading::before {
        width: 35%;
    }
}

@media (max-width: 480px) {
    .health .heading::before {
        width: 40%;
    }
}

.health .container {
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

    .health .container .health-note p {
        margin: 0;
        margin-bottom: 5px;
        line-height: 1.8;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

    .health .container .health-search {
        width: 100%;
        margin: 25px 0 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        gap: 5%;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

@media (max-width: 767px) {
    .health .container .health-search {
        margin: 35px 0 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 15px;
    }
}

.health .container .health-search input {
    padding: 10px 30px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: var(--light-color);
    border: 1px solid #bbb;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.health .container .health-search button {
    padding: 10px 60px;
    background-color: var(--option-color);
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
    .health .container .health-search button {
        gap: 20px;
    }
}

.health .container .health-search button::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.2);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.health .container .health-search button:hover::after {
    left: 105%;
}

@media (max-width: 767px) {
    .health .container .health-search input,
    .health .container .health-search button {
        width: 100%;
    }
}

.health .container .health-search input:focus,
.health .container .health-search button:focus {
    outline: none;
}

.health .container .health-search input:focus {
    filter: drop-shadow(0 0 3px var(--option-color));
    -webkit-filter: drop-shadow(0 0 3px var(--option-color));
}

.health .container .health-faq {
    width: 100%;
    min-height: 700px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

    .health .container .health-faq span {
        margin: 20px auto 30px;
        display: inline-block;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 26px;
        font-weight: bold;
        color: var(--theme-color);
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

@media (max-width: 767px) {
    .health .container .health-faq span {
        margin-top: 10px;
    }
}

.health .container .health-faq .faq-box {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

    .health .container .health-faq .faq-box .que-box {
        width: 40%;
        padding: 10px 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 2px solid var(--theme-color);
        cursor: pointer;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
        font-weight: bold;
    }

        .health .container .health-faq .faq-box .que-box.open {
            border-color: var(--option-color);
            background-color: var(--option-color);
        }

@media (max-width: 767px) {
    .health .container .health-faq .faq-box .que-box.open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media (max-width: 767px) {
    .health .container .health-faq .faq-box .que-box {
        width: 100%;
    }
}

.health .container .health-faq .faq-box .ans-box {
    position: absolute;
    top: 0;
    left: 45%;
    width: 55%;
    padding: 10px 15px;
    line-height: 1.8;
    font-size: 14px;
    border: 2px solid var(--theme-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    display: none;
}

    .health .container .health-faq .faq-box .ans-box::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 15px solid;
        border-color: transparent var(--theme-color) transparent transparent;
        left: -30px;
        top: 15px;
    }

@media (max-width: 767px) {
    .health .container .health-faq .faq-box .ans-box::before {
        content: none;
    }
}

.health .container .health-faq .faq-box .ans-box.show {
    display: block;
}

@media (max-width: 767px) {
    .health .container .health-faq .faq-box .ans-box.show {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: transparent;
    }
}

@media (max-width: 767px) {
    .health .container .health-faq .faq-box .ans-box {
        position: relative;
        width: 100%;
        left: 0;
    }
}

.health .container > a {
    display: block;
    margin: 0 auto;
    padding: 12px 30px;
    width: 280px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: var(--option-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    bottom: 5%;
    overflow: hidden;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
    .health .container > a {
        margin-top: 35px;
    }
}

.health .container > a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.2);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.health .container > a:hover::after {
    left: 105%;
}


/* End Health Section */


/* Start Care Section */

.care {
    width: 100%;
    padding-top: var(--section-padding);
    padding-bottom: 60px;
    background-color: var(--secondray-background);
    color: #fff;
    overflow: hidden;
}

    .care .heading {
        margin: 0 auto 50px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

        .care .heading::before {
            content: "";
            height: 2px;
            background-color: var(--option-color);
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            transition: var(--main-transition);
            -webkit-transition: var(--main-transition);
            -moz-transition: var(--main-transition);
            -ms-transition: var(--main-transition);
            -o-transition: var(--main-transition);
        }

@media (min-width: 768px) {
    .care .heading::before {
        width: 28%;
    }
}

@media (min-width: 992px) {
    .care .heading::before {
        width: 20%;
    }
}

@media (max-width: 767px) {
    .care .heading::before {
        width: 35%;
    }
}

@media (max-width: 480px) {
    .care .heading::before {
        width: 40%;
    }
}

.care .container {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 40px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .care .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.care .container .care-box {
    position: relative;
    padding-top: 20px;
    -ms-flex-preferred-size: calc(50% - 40px);
    flex-basis: calc(50% - 40px);
}

@media (max-width: 767px) {
    .care .container .care-box {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

.care .container .care-box::before {
    content: "";
    position: absolute;
    background-color: var(--option-color);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.care .container .care-box:first-of-type::before {
    height: 100%;
    width: 2px;
    top: 0;
    right: -40px;
}

@media (max-width: 767px) {
    .care .container .care-box:first-of-type::before {
        width: 100%;
        height: 2px;
        right: 0;
        top: calc(100% + 20px);
    }
}

.care .container .care-box:nth-of-type(2)::before {
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -20px;
}

.care .container .care-box:nth-of-type(3)::before {
    width: 100%;
    height: 2px;
    left: 0;
    top: -20px;
}

@media (max-width: 767px) {
    .care .container .care-box:nth-of-type(3)::before {
        width: 100%;
        height: 2px;
        right: 0;
        top: calc(100% + 20px);
    }
}

.care .container .care-box:last-of-type::before {
    height: 100%;
    width: 2px;
    top: 0;
    left: -40px;
}

@media (max-width: 767px) {
    .care .container .care-box:last-of-type::before {
        content: none;
    }
}

.care .container .care-box > svg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    color: var(--option-color);
    filter: drop-shadow(0 0 2px var(--option-color));
    -webkit-filter: drop-shadow(0 0 2px var(--option-color));
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.care .container .care-box > h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0;
    color: var(--option-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.care .container .care-box > p {
    margin: 0;
    line-height: 1.8;
    color: #efefef;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.care .container .care-box > ul {
    padding: 20px 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

    .care .container .care-box > ul > li {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 15px;
        font-size: 14px;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

        .care .container .care-box > ul > li:not(:last-of-type) {
            margin-bottom: 10px;
        }

        .care .container .care-box > ul > li > svg {
            color: var(--option-color);
        }


/* Start Care Section */


/* Start Vets Section */

.vets {
    width: 100%;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../assets/imgs/background-3.webp");
    background-size: cover;
    background-color: var(--theme-background);
    color: var(--theme-color);
    overflow: hidden;
}

    .vets .heading {
        color: var(--theme-color);
        margin: 0 auto 50px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

        .vets .heading::before {
            content: "";
            height: 2px;
            background-color: var(--option-color);
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
        }

@media (min-width: 768px) {
    .vets .heading::before {
        width: 28%;
    }
}

@media (min-width: 992px) {
    .vets .heading::before {
        width: 20%;
    }
}

@media (max-width: 767px) {
    .vets .heading::before {
        width: 35%;
    }
}

@media (max-width: 480px) {
    .vets .heading::before {
        width: 40%;
    }
}

.vets .container {
    padding-top: 20px;
    direction: ltr;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

    .vets .container .vet-content .vet-box {
        height: 300px;
        width: 250px;
        position: relative;
        cursor: -webkit-grab;
        cursor: grab;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

        .vets .container .vet-content .vet-box .vet-card {
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            overflow: hidden;
            padding: 20px 20px 0;
            background-color: var(--theme-color);
            color: var(--theme-background);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .vets .container .vet-content .vet-box .vet-card img {
                max-height: 350px;
            }

            .vets .container .vet-content .vet-box .vet-card .card-back {
                width: 100%;
                height: 0;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(51, 51, 51, 0.9);
                color: #fff;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                text-align: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                transition: var(--main-transition);
                -webkit-transition: var(--main-transition);
                -moz-transition: var(--main-transition);
                -ms-transition: var(--main-transition);
                -o-transition: var(--main-transition);
                overflow: hidden;
            }

                .vets .container .vet-content .vet-box .vet-card .card-back.show {
                    height: 100%;
                }

                .vets .container .vet-content .vet-box .vet-card .card-back h4 {
                    font-size: 22px;
                }

                .vets .container .vet-content .vet-box .vet-card .card-back span {
                    display: block;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size: 14px;
                }

                .vets .container .vet-content .vet-box .vet-card .card-back address {
                    margin: 0;
                    line-height: 2;
                    font-style: italic;
                }

                .vets .container .vet-content .vet-box .vet-card .card-back svg {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    direction: ltr;
                }

                    .vets .container .vet-content .vet-box .vet-card .card-back svg.fill {
                        color: #FDCC0D;
                    }

                .vets .container .vet-content .vet-box .vet-card .card-back a {
                    padding: 8px 0;
                    width: 200px;
                    margin: 10px auto 0;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    color: var(--dark-color);
                    background-color: var(--option-color);
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    position: relative;
                    overflow: hidden;
                }

                    .vets .container .vet-content .vet-box .vet-card .card-back a::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba(119, 119, 119, 0.3);
                        transition: var(--main-transition);
                        -webkit-transition: var(--main-transition);
                        -moz-transition: var(--main-transition);
                        -ms-transition: var(--main-transition);
                        -o-transition: var(--main-transition);
                    }

                    .vets .container .vet-content .vet-box .vet-card .card-back a:hover::after {
                        left: 105%;
                    }

    .vets .container > a {
        display: block;
        margin: 40px auto 0;
        padding: 12px 30px;
        width: 280px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: #000;
        background-color: var(--option-color);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        position: relative;
        overflow: hidden;
    }

        .vets .container > a::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(51, 51, 51, 0.2);
            transition: var(--main-transition);
            -webkit-transition: var(--main-transition);
            -moz-transition: var(--main-transition);
            -ms-transition: var(--main-transition);
            -o-transition: var(--main-transition);
        }

        .vets .container > a:hover::after {
            left: 105%;
        }


/* End Vets Section */


/* Start About Us Section */

.about {
    width: 100%;
    padding-top: var(--section-padding);
    padding-bottom: 60px;
    background-color: var(--secondray-background);
    color: #fff;
    overflow: hidden;
}

    .about .heading {
        margin: 0 auto 50px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

        .about .heading::before {
            content: "";
            height: 2px;
            background-color: var(--option-color);
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
        }

@media (min-width: 768px) {
    .about .heading::before {
        width: 28%;
    }
}

@media (min-width: 992px) {
    .about .heading::before {
        width: 20%;
    }
}

@media (max-width: 767px) {
    .about .heading::before {
        width: 35%;
    }
}

@media (max-width: 480px) {
    .about .heading::before {
        width: 40%;
    }
}

.about .container {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
}

@media (max-width: 767px) {
    .about .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.about .container form {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    position: relative;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
    .about .container form {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}

.about .container form input,
.about .container form textarea {
    padding: 10px 25px;
    width: 100%;
    background-color: var(--light-color);
    border: 1px solid #bbb;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 10px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

    .about .container form input:focus,
    .about .container form textarea:focus,
    .about .container form button:focus {
        outline: none;
        filter: drop-shadow(0 0 3px var(--option-color));
        -webkit-filter: drop-shadow(0 0 3px var(--option-color));
    }

.about .container form textarea {
    height: 150px;
    resize: none;
}

.about .container form button {
    padding: 10px 25px;
    width: 100%;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: var(--option-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    overflow: hidden;
}

    .about .container form button::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(51, 51, 51, 0.2);
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

    .about .container form button:hover::after {
        left: 105%;
    }

.about .container .details {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
    .about .container .details {
        width: 100%;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
}

.about .container .details .address,
.about .container .details .phone,
.about .container .details .email {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 25px;
}

    .about .container .details .address svg,
    .about .container .details .phone svg,
    .about .container .details .email svg {
        color: var(--option-color);
        filter: drop-shadow(0 0 2px var(--option-color));
        -webkit-filter: drop-shadow(0 0 2px var(--option-color));
    }

    .about .container .details .address a,
    .about .container .details .phone a,
    .about .container .details .email a {
        display: block;
        line-height: 1.8;
        color: var(--theme-color);
    }

    .about .container .details .address span:first-of-type,
    .about .container .details .phone span:first-of-type {
        margin-bottom: 5px;
    }

    .about .container .details .address address {
        margin: 0;
    }


/* End About Us Section */

