
/* Start Form */

.user-form form div.name-section input.user-name,
.user-form form div.email-section input.user-email,
.user-form form div.pass-section input.user-password {
    padding-right: 30px;
    padding-left: 40px;
}

@media (max-width: 480px) {
    .user-form form div.name-section input.user-name,
    .user-form form div.email-section input.user-email,
    .user-form form div.pass-section input.user-password {
        padding-right: 20px;
        padding-left: 30px;
    }
}

.user-form form div.name-section .name-icon,
.user-form form div.pass-section .show-password,
.user-form form div.email-section .email-icon {
    right: unset;
    left: 0;
}

.user-form form div.regist-section .regist-btn::after,
.user-form form div.login-acc a::after {
    left: unset;
    right: 0;
}

.user-form form div.regist-section .regist-btn:hover::after,
.user-form form div.login-acc a:hover::after {
    left: unset;
    right: 105%;
}


/* End Form */
