/* Start View Profile */

.viewprofile {
    width: 100%;
    padding: 80px 15px;
    background-image: url("../assets/imgs/background-3.webp");
    background-size: cover;
    background-color: var(--secondray-background);
    color: var(--theme-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.viewprofile .heading {
    color: var(--light-color);
    margin: 0 auto 140px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.viewprofile .heading::before {
    content: "";
    height: 2px;
    width: 130%;
    background-color: var(--option-color);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.viewprofile .container {
    padding: 100px 40px 60px;
    max-width: 80%;
    color: var(--theme-color);
    background-color: var(--theme-background);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-box-shadow: 0 0 5px 0 var(--theme-color);
    -o-box-shadow: 0 0 5px 0 var(--theme-color);
    -ms-box-shadow: 0 0 5px 0 var(--theme-color);
    box-shadow: 0 0 5px 0 var(--theme-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    filter: drop-shadow(0 0 3px var(--light-color));
    -webkit-filter: drop-shadow(0 0 3px var(--light-color));
}

@media (max-width: 767px) {
    .viewprofile .container {
        padding: 100px 25px 60px;
        max-width: 95%;
    }
}

.viewprofile .container .viewprofile-picture {
    width: 120px;
    height: 120px;
    background-color: var(--theme-background);
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    overflow: hidden;
}

.viewprofile .container .viewprofile-picture img {
    max-width: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.viewprofile .container .viewprofile-picture .viewprofile-link {
    width: 100%;
    height: 50%;
    background-color: var(--theme-color);
    opacity: 0.8;
    position: absolute;
    bottom: -100%;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5% 0;
    gap: 5px;
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.viewprofile .container .viewprofile-picture .viewprofile-link a,
.viewprofile .container .viewprofile-picture .viewprofile-link svg {
    font-size: 14px;
    color: var(--theme-background);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.viewprofile .container .viewprofile-picture:hover .viewprofile-link {
    bottom: 0;
}

.viewprofile .container .profile-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    position: relative;
}

@media (max-width: 767px) {
    .viewprofile .container .profile-box {
        align-items: flex-start;
        flex-direction: column;
    }
}

.viewprofile .container .pet-name {
    margin-top: 20px;
}

.viewprofile .container .profile-box h5 {
    position: relative;
    line-height: 1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.viewprofile .container .profile-box h5:after {
    content: "";
    width: 120%;
    height: 2px;
    background-color: var(--option-color);
    position: absolute;
    left: 0;
    bottom: -10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.viewprofile .container .profile-box .box-value {
    width: 60%;
    position: relative;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
    .viewprofile .container .profile-box .box-value {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.viewprofile .container .viewprofile-edit {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewprofile .container .viewprofile-edit a {
    padding: 12px 40px;
    width: 280px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: var(--option-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
    .viewprofile .container .viewprofile-edit a {
        width: 90%;
    }
}

.viewprofile .container .viewprofile-edit a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.2);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.viewprofile .container .viewprofile-edit a:hover::after {
    left: 105%;
}


/* End View Profile */