
@{
    ViewData["Title"] = "ConfirmForgetPassword";
    Layout = "~/Views/Layouts/MainLayout.cshtml";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<h1>ConfirmForgetPassword</h1>

<div class="block-header">
    <h1>If You Have An Account , We Sent Reset Password Link To Your Email , Please Check Your Mail Box....</h1>
    <a asp-area="Identity" asp-controller="Account" asp-action="Login" class="btn btn-primary" style="color:white;font-weight:bold">Sign In</a>
</div>