
@{
    ViewData["Title"] = "ConfirmResetPassword";
    Layout = "~/Views/Layouts/MainLayout.cshtml";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<h1>ConfirmResetPassword</h1>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h1> Your Password Reseted Successfully .. Please Sign In Again ... </h1>
            <a asp-area="Identity" asp-controller="Account" asp-action="Login" class="btn btn-primary" style="color:white;font-weight:bold">Sign In</a>
        </div>
    </div>
</section>