
@{
    ViewData["Title"] = "ConfirmForgetPassword";
    Layout = "~/Views/Layouts/MainLayout.cshtml";
    var Culuture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;

}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using ProjectBackEndDemo.Resource
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> AppLng

<link href="~/css/confirmforgetpassword.css" rel="stylesheet" />
@if (Culuture == "ar-EG")
{

    <style>
        .confirm-section .container a::after {
            left: unset;
            right: 0;
        }

        .confirm-section .container a:hover::after {
            left: unset;
            right: 105%;
        }

    </style>
}



<div class="confirm-section">
    <h3 class="heading">@AppLng["Confirm Forget Password"]</h3>
    <div class="container">
        <p>@AppLng["If You Have An Account, We Sent Reset Password Link To Your Email, Please Check Your Mail Box...."]</p>
        <a asp-area="Identity" asp-controller="Account" asp-action="Login">@AppLng["Login"]</a>
    </div>
</div>

<script>

    let saveLanguagee = localStorage.getItem("page-language");
    let langEnglishe = `.option .lang-option .lang-box > a.english`;
    let langArabice = `.option .lang-option .lang-box > a.arabic`;
    let englishStylee = `link.style-en`;
    let arabicstylee = `link.style-ar`
    if (saveLanguagee !== null) {
        if (saveLanguagee == "en") {
            if (!$(langEnglishe).hasClass("active")) {
                $(langEnglishe).siblings().removeClass("active");
                $(langEnglishe).addClass("active");
                $("html").attr("lang", "en");
                $("body").attr("translate", "no");
                if ($(arabicStylee).attr("href") != undefined) {
                    $(arabicStylee).remove();
                }
            }
        } else if (saveLanguage == "ar") {
            if (!$(langArabice).hasClass("active")) {
                $(langArabice).siblings().removeClass("active");
                $(langArabice).addClass("active");
                $("html").attr("lang", "ar");
                $("body").attr("translate", "yes");
                $(englishStylee).after(`<link rel="stylesheet" href="/css/confirmforgetpassword-ar.css" class="style-ar" />`);
            }
        }
    }
    // End check Localstorage
    // click on arabic btn
    $(langArabice).on("click", function (e) {
        if (!$(langArabice).hasClass("active")) {
            $(englishStylee).after(`<link rel="stylesheet" href="/css/confirmforgetpassword-ar.css" class="style-ar" />`);
        }
    });
</script>