@model ProjectBackEndDemo.Areas.Identity.Models.ForgetPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Layouts/MainLayout.cshtml";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<h1>ForgetPassword</h1>

<form asp-area="Identity" asp-controller="Account" asp-action="ForgetPassword" method="POST">
    <div class="msg">
        Enter your email address that you used to register. We'll send you an email with your username and a
        link to reset your password.
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>



    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">email</i>
        </span>
        <div class="form-line">
            <input type="text" class="form-control" placeholder="UserName" autofocus asp-for="UserName">
        </div>
        <div class="">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>

    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">Submit</button>

    <div class="row m-t-20 m-b--5 align-center">
        <a asp-area="Identity" asp-action="Login" asp-controller="Account">Sign In!</a>
    </div>
</form>
<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>