@model ProjectBackEndDemo.Areas.Identity.Models.ForgetPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Layouts/MainLayout.cshtml";
    var Culuture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;

}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<link href="~/css/forgetpassword.css" rel="stylesheet" />


@if (Culuture == "ar-EG")
{
<link href="~/css/forgetpassword-ar.css" rel="stylesheet" />

}



@*<form asp-area="Identity" asp-controller="Account" asp-action="ForgetPassword" method="POST">
        <div class="msg">
            Enter your email address that you used to register. We'll send you an email with your username and a
            link to reset your password.
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">email</i>
            </span>
            <div class="form-line">
                <input type="text" class="form-control" placeholder="UserName" autofocus asp-for="UserName">
            </div>
            <div class="">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">Submit</button>
        <div class="row m-t-20 m-b--5 align-center">
            <a asp-area="Identity" asp-action="Login" asp-controller="Account">Sign In!</a>
        </div>
    </form>*@

<div class="user-form">
    <h3 class="heading">Forget Password</h3>
    <form asp-area="Identity" asp-controller="Account" asp-action="ForgetPassword" method="POST">
        <div asp-validation-summary="All" class="text-danger"></div>
        <p>Enter your email address that you used to register. We'll send you an email to your Gmail with a link to reset your password.</p>
        <div class="form-section name-section">
            <input type="text" asp-for="UserName" id="" class="user-name" placeholder="Enter Your User Name Or Email" autofocus />
            <span asp-validation-for="UserName" class="text-danger"></span>
            <div class="name-icon">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="form-section save-section">
            <button type="submit" class="save-btn">Send Mail </button>
        </div>
        <div class="form-section login-acc">
            <a asp-area="Identity" asp-action="Login" asp-controller="Account">Log In</a>
        </div>
    </form>
</div>





<script src="~/js/forgetpassword.js"></script>

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>