
@{
    Layout = "~/Views/Layouts/MainLayout.cshtml";
    ViewBag.Title = "Login";
    
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjectBackEndDemo.Areas.Identity.Models.LoginVM

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div style="height:100px">   </div>

    <div class="container">

        <div asp-validation-summary="All" class="text-danger">   </div>
        <form asp-area="Identity" asp-controller="Account" asp-action="Login" method="post" class="card form-group" style="padding:15px">      
            <label asp-for="UserName"> Enter User Name </label>
            <input type="text" asp-for="UserName" placeholder="User Name" class="form-control" />
            <span asp-validation-for="UserName">  </span>
            <br />
            <label asp-for="Password"> Enter Password  </label>

            <input type="password" asp-for="Password" placeholder="password" class="form-control" />

            <span asp-validation-for="Password">  </span>
            <br />
            <label asp-for="RemmemberMe"> Remmember Me </label>
            <input type="checkbox" asp-for="RemmemberMe" />
            <br />

            <input type="submit" value="Login" class="btn btn-primary" />

        </form>


        <div class="text-sm-center">
            don't Have account ?  <a asp-area="Identity" asp-controller="Account" asp-action="Registration"> Sign Up </a> <br />
            Forget password ?  <a asp-area="Identity" asp-controller="Account" asp-action="ForgetPassword"> Forget Password </a>
        </div>
    </div>
</body>
</html>
<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>