@{
    Layout = "~/Views/Layouts/MainLayout.cshtml";
    ViewBag.Title = "Login";
    var Culuture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;

}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model ProjectBackEndDemo.Areas.Identity.Models.RegistrationVM


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>


    <link href="~/css/register.css" rel="stylesheet" />
    @if (Culuture == "ar-EG")
    {

        <link href="~/css/register-ar.css" rel="stylesheet" />
    }


</head>
<body>



    @*<div asp-validation-summary="All" class="text-danger">  </div>

        <div class="container">

            <form asp-area="Identity" asp-controller="Account" asp-action="Registration" method="post" class=" card form-group" style="padding:15px">
                <label asp-for="UserName"> Enter UserName  </label>
                <input type="text" asp-for="UserName" placeholder="user name" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger">  </span>
                <br />
                <label asp-for="Email"> enter email </label>
                <input type="email" asp-for="Email" placeholder="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger">  </span>
                <br />
                <label asp-for="Password"> enter Password </label>

                <input type="password" asp-for="Password" placeholder="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger">  </span>
                <br />
                <label asp-for="ConfirmPassword"> enter Password </label>

                <input type="password" asp-for="ConfirmPassword" placeholder="ConfirmPassword" class="form-control" />

                <span asp-validation-for="ConfirmPassword" class="text-danger">  </span>



                <input type="submit" value="Sign Up" class="btn btn-primary" />
                <div class="text-sm-center">Already Have Account ! <a asp-area="Identity" asp-controller="Account" asp-action="Login"> LogIn </a></div>


            </form>
        </div>*@

    <div class="user-form">
        <h3 class="heading">Registeration</h3>
        <div asp-validation-summary="All" class="text-danger">  </div>
        <form asp-area="Identity" asp-controller="Account" asp-action="Registration" method="post" >
            <div class="form-section name-section">
                <input type="text" asp-for="UserName" id="" class="user-name" placeholder="Enter Your Name" required />
                <span asp-validation-for="UserName" class="text-danger">  </span>
                <div class="name-icon">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
            <div class="form-section email-section">
                <input type="email" asp-for="Email" id="" class="user-email" placeholder="Enter Your Email" required />
                <span asp-validation-for="Email" class="text-danger">  </span>

                <div class="email-icon">
                    <i class="fa-solid fa-envelope"></i>
                </div>
            </div>
            <div class="form-section pass-section pass-original">
                <input type="password" asp-for="Password" id="" class="user-password" placeholder="Enter Your password" required />
                <span asp-validation-for="Password" class="text-danger">  </span>

                <div class="show-password">
                    <i class="fa-solid fa-eye-slash" title="Show password"></i>
                </div>
            </div>
            <div class="form-section pass-section pass-confirm">
                <input type="password" asp-for="ConfirmPassword" id="" class="user-password" placeholder="Confirm Your password" required />
                <span asp-validation-for="ConfirmPassword" class="text-danger">  </span>

                <div class="show-password">
                    <i class="fa-solid fa-eye-slash" title="Show password"></i>
                </div>
            </div>

            <div class="form-section regist-section">
                <button type="submit" class="regist-btn">Register</button>
            </div>
            <div class="form-section login-acc">
                <a  asp-area="Identity" asp-controller="Account" asp-action="Login">Already have an account</a>
            </div>
        </form>
    </div>









    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/register.js"></script>
</body>
</html>






