
@{
    ViewData["Title"] = "Create Medicine";
    Layout = "~/Views/Layouts/MainLayout.cshtml";
    var Culuture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;

}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjectBackEndDemo.Areas.Diseases.Models.MedicineVM

<link href="~/css/createmedicine.css" rel="stylesheet" />
@if (Culuture == "ar-EG")
{
    <link href="~/css/createmedicine-ar.css" rel="stylesheet" />

}



<div class="user-form">
    <h3 class="heading">Create Medicine</h3>
    <form asp-area="Diseases" asp-controller="Disease" asp-action="CreateMedicine" method="post">
        <div asp-validation-summary="All" class="text-danger">   </div>

        <div class="form-section text-section medicine-section">
            <div class="label-section">
                <label for="my-medicine">Medicine Name</label>
                <div class="effect-section">
                    <input type="checkbox" asp-for="HasSideEffect" id="has-effect" class="medicine-effect" />
                    <label for="has-effect">Has Side Effects?</label>
                </div>
            </div>
            <div class="input-section">
                <input type="text" asp-for="Name" id="my-medicine" class="medicine-name" placeholder="Enter Medicine Symptom" required />
                <div class="input-icon">
                    <i class="fa-solid fa-file"></i>
                </div>
            </div>
            <span class="text-danger" asp-validation-for="Name">  </span>

        </div>
        <div class="form-section text-section price-section">
            <label for="my-price">Medicine Price</label>
            <div class="input-section">
                <input type="number" asp-for="Price" id="my-price" class="medicine-price" placeholder="Enter Medicine Price" required />
                <div class="input-icon">
                    <i class="fa-solid fa-file"></i>
                </div>
                <span class="text-danger" asp-validation-for="Price">  </span>

            </div>
        </div>
        <div class="form-section text-section temp-section">
            <label for="my-temp">Medicine Temperature</label>
            <div class="input-section">
                <input type="text" asp-for="Temperature" id="my-temp" class="medicine-temp" placeholder="Enter Medicine Temperature" required />
                <div class="input-icon">
                    <i class="fa-solid fa-file"></i>
                </div>
            </div>
            <span class="text-danger" asp-validation-for="Temperature">  </span>

        </div>
        <div class="form-section text-section expirty-section">
            <label for="my-expirty">Medicine Expirty</label>
            <div class="input-section">
                <input type="text" asp-for="Expirty" id="my-expirty" class="medicine-expirty" placeholder="Enter Medicine Expirty" required />
                <div class="input-icon">
                    <i class="fa-solid fa-file"></i>
                </div>
            </div>
            <span class="text-danger" asp-validation-for="Expirty">  </span>

        </div>
      
        <div class="form-section text-section keyword-section">
            <label for="my-keyword">Medicine Keywords</label>
            <div class="input-section">
                <input type="text" asp-for="KeyWords" id="my-keyword" class="medicine-keyword" placeholder="Enter Medicine Keywords" required />
                <div class="input-icon">
                    <i class="fa-solid fa-file"></i>
                </div>
            </div>
        </div>
        <div class="form-section save-section">
            <button type="submit" class="save-btn">Create</button>
        </div>
        <div class="form-section disease-link">
            <a asp-area="Diseases" asp-controller="Disease" asp-action="CreateDisease">Create Disease</a>
        </div>
    </form>
</div>



<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/js/createmedicine.js"></script>