@inject ProjectBackEndDemo.BL.Helpers.ISelectHelper slct
@{
    ViewData["Title"] = "CreateDisease";
    Layout = "~/Views/Layouts/MainLayout.cshtml";

    var animalList = new SelectList(slct.GetAnimals(), "Id", "Name");
    var medicineList = new SelectList(slct.GetMedicines(), "Id", "Name");
    var symptomList = new SelectList(slct.GetSymptoms(), "Id", "Name");
  //  var symptomList = slct.GetSymptoms();




}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjectBackEndDemo.Areas.Diseases.Models.DieseaseVM

<h1>CreateDisease</h1>


<div class="container">
    <h1>Create Disease </h1>
    <div asp-validation-summary="All" class="text-danger">   </div>
    <form asp-area="Diseases" asp-controller="disease" asp-action="CreateDisease" method="post" class="form-group">
        <label asp-for="Name">Name</label>
        <input type="text" asp-for="Name" placeholder="Name " class="form-control" />
        <span class="text-danger" asp-validation-for="Name">  </span>
        <br />

        <label asp-for="IsInfect"> Is infect !</label>
        <input type="checkbox" asp-for="IsInfect" class="" />

        <br />

        <br />
        <label asp-for="AnimalId"> choose Animal</label>
        <select asp-items="@animalList" asp-for="AnimalId" class="custom-select">
            <option value="">choose Pet</option>
        </select>
        <span class="text-danger" asp-validation-for="AnimalId">  </span>
        <br />

        <br />
        <label asp-for="MedicineIds"> choose Medicines</label>
        <select multiple asp-items="@medicineList" asp-for="MedicineIds" class="custom-select">
        </select>
        <span class="text-danger" asp-validation-for="MedicineIds">  </span>


        <label asp-for="SymptomIds"> choose Sympotom</label>
        <select multiple asp-items="@symptomList" asp-for="SymptomIds" class="custom-select">
        </select>
        <span class="text-danger" asp-validation-for="SymptomIds">  </span>
        <br />
        <label asp-for="KeyWords">KeyWords</label>
        <input type="text" asp-for="KeyWords" placeholder="KeyWords " class="form-control" />
        <span class="text-danger" asp-validation-for="KeyWords">  </span>
        <br />


        <input type="submit" class="btn btn-primary" name="name" value="submit" />





    </form>


</div>

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
