
@{
    ViewData["Title"] = "ViewSymptom";
    Layout = "~/Views/Layouts/MainLayout.cshtml";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers



@model ProjectBackEndDemo.Areas.Diseases.Models.SymptomVM


<div classs="Container">
    <h1> View Symptom </h1>
    <form asp-action="SearchSymptoms" asp-controller="Disease" asp-area="Diseases" method="get">
        <input id="search" name="search" type="search" placeholder="Search Symptoms " />
        <input type="submit" hidden />
    </form>

    <span class="text-primary"> @Model.Name  </span> <br />
    <span class="text-primary"> @Model.Description  </span> <br />
    <ul class="list-group">
        @foreach (var (x, y) in Model.DieasesNames.Zip(Model.DieasesIds))
        {
            <li class="list-group-item">

                <a asp-area="Diseases" asp-controller="Disease" asp-action="ViewDisease" asp-route-id="@y">@x</a>


            </li>

        }
    </ul>
    <br />

</div>
