@inject ProjectBackEndDemo.BL.Helpers.ISelectHelper slcthHelper

@{
    ViewData["Title"] = "CreateLifeStyle";
    Layout = "~/Views/Layouts/MainLayout.cshtml";
    var AnimalList = new SelectList(slcthHelper.GetAnimals(), "Id", "Name");
    var Culuture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;

}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjectBackEndDemo.Areas.Care.Models.LifeStyleVM


<link href="~/css/createlifestyle.css" rel="stylesheet" />
@if (Culuture == "ar-EG")
{
    <link href="~/css/createlifestyle-ar.css" rel="stylesheet" />

}




<div class="user-form">
    <h3 class="heading">Create Lifestyle</h3>
    <form asp-area="Care" asp-controller="LifeStyle" asp-action="CreateLifeStyle" method="post">
        <div asp-validation-summary="All" class="text-danger">   </div>

        <div class="form-section select-section">
            <label for="my-pet">Choose Pet</label>
            <div class="input-section">
                <select asp-items="AnimalList" asp-for="AnimalId" id="my-pet" class="pet-name">
                    <option disabled selected>Choose Pet</option>

                </select>
                <div class="select-icon">
                    <i class="fa-solid fa-box"></i>
                </div>
            </div>
            <span class="text-danger" asp-validation-for="AnimalId">  </span>

        </div>
        <div class="form-section text-section cleanliness-section">
            <label for="my-cleanliness">Cleanliness</label>
            <div class="input-section">
                <textarea asp-for="Cleanliness" id="my-cleanliness" class="cleanliness-text" placeholder="Enter Cleanliness Article"></textarea>
                <div class="text-icon">
                    <i class="fa-solid fa-file"></i>
                </div>
            </div>
            <span class="text-danger" asp-validation-for="Cleanliness">  </span>

        </div>
        <div class="form-section text-section care-section">
            <label for="my-care">Care</label>
            <div class="input-section">
                <textarea asp-for="Care" id="my-care" class="care-text" placeholder="Enter Care Article"></textarea>
                <div class="text-icon">
                    <i class="fa-solid fa-file"></i>
                </div>
            </div>
            <span class="text-danger" asp-validation-for="Care">  </span>

        </div>
        <div class="form-section text-section mating-section">
            <label for="my-mating">Mating</label>
            <div class="input-section">
                <textarea asp-for="Mating" id="my-mating" class="mating-text" placeholder="Enter Mating Article"></textarea>
                <div class="text-icon">
                    <i class="fa-solid fa-file"></i>
                </div>
            </div>
            <span class="text-danger" asp-validation-for="Mating">  </span>

        </div>
        <div class="form-section save-section">
            <button type="submit" class="save-btn">Create</button>
        </div>
    </form>
</div>







<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script src="~/js/createlifestyle.js"></script>